* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    color: #766259;
    background: url(images/Шапка.png), url(images/Фон_подвала.png);
    background-position: top, bottom;
    background-size: 1920px auto;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

span.decoration {
    border-bottom: 1px dashed #c3bab2;
}

header {
    position: relative;
    width: 970px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 20px;
    grid-template-rows: 42px 125px 53px;
    grid-template-areas: "first_line first_line first_line first_line first_line first_line first_line first_line first_line first_line first_line first_line" "second_line second_line second_line second_line second_line second_line second_line second_line second_line second_line second_line second_line" "third_line third_line third_line third_line third_line third_line third_line third_line third_line third_line third_line third_line";
}

header a {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #766259;
}

.first_line {
    grid-area: first_line;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.first_line_navigation_1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 445px;
    height: 20px;
    margin-top: 17px;
}

.first_line_navigation_1 span a {
    border-bottom: 1px solid #c3bab2;
}

.first_line_navigation_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-left: 1px;
    padding: 0;
    width: 273px;
    height: 20px;
}

.first_line_navigation_2 a {
    padding-left: 9px;
}

.first_line_navigation_2 img {
    width: 15px;
    height: 100%;
    margin: 0;
}

.first_line_navigation_2 span a {
    padding-left: 36px;
}

.hr-line_1 {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #ddd2c7;
}

.second_line {
    grid-area: second_line;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    border: none;
    height: 130px;
}

.second_line a {
    height: 72px;
    margin: 0;
}

.second_line_search {
    display: inline-flex;
    border: none;
    border-radius: 18px;
    background-color: white;
    width: 330px;
    height: 36px;
}

.second_line_search-field {
    border: none;
    padding: 13px 0 12px 0;
    font-weight: normal;
}

.second_line_search-field:focus {
    outline: none;
}

.second_line_search-icon {
    width: 14px;
    height: 14px;
    margin-right: 9px;
    margin-left: 11px;
    margin-bottom: 11px;
    margin-top: 11px;
    order: -1;
}

.second_line_phone {
    display: flex;
    flex-direction: column;
    height: 72px;
}

.second_line_phone a {
    margin: auto;
    height: 25px;
    color: #461f02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
}

.second_line_phone p {
    height: 11px;
    color: #766259;
    font-size: 13px;
    text-align: right;
}

.third_line {
    grid-area: third_line;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 40px;
    align-items: center;
}

.third_line_menu, .third_line_menu_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    flex-wrap: nowrap;
}

.third_line_menu a, .third_line_menu_2 li {
    display: block;
    color: #593518;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
}

.third_line_menu a {
    padding-right: 30px;
}

.third_line_menu_2 img {
    padding-right: 12px;
}

/* КАРТИНКИ В ШАПКЕ */

.img_apple {
    position: absolute;
    top: 146px;
    left: -220px;
    z-index: -2;
}

.img_basket {
    position: absolute;
    top: 148px;
    right: -230px;
    z-index: -2;
}

/* ОСНОВНАЯ ЧАСТЬ */

#grid {
    width: 970px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 20px;
    grid-template-rows: 1700px;
    grid-template-areas: "main main main main main 0 0 0 aside aside aside aside";
    position: relative;
}

.img_main_back {
    position: absolute;
    top: -9px;
    left: -30px;
    right: -30px;
    z-index: -1;
}

.main {
    grid-area: main;
}

.main h3 {
    color: #461f02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: normal;
}

/* Кнопка Физ. или Юрид. лица */

.form_radio_group {
    display: inline-block;
    overflow: hidden;
    color: #461f02;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 0;
}

.form_radio_btn {
    display: block;
    float: left;
}

.form_radio_btn input[type=radio] {
    display: none;
}

label {
    padding-left: 11px;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    user-select: none;
    width: 197px;
    height: 49px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.btn_1 label {
    height: 49px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #f3ead6;
}

.btn_2 label {
    height: 49px;
    border-radius: 0 4px 4px 0;
    border: 1px dashed #d15b0a;
    border-left: 1px solid #d15b0a;
}

.form_radio_btn input[type=radio]:checked+label {
    background-color: #fdfcfa;
}

/* КОНТАКТНЫЕ ДАННЫЕ */

.main h4 {
    color: #461f02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 0;
    font-weight: normal;
}

.container_1 {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding: 0;
}

.cell-1, .cell-3, .cell-5 {
    margin-right: 24px;
}

.cell {
    height: 70px;
}

.col-25 {
    height: 22px;
}

.col-75 {
    width: 185px;
    height: 35px;
    margin-right: 0;
    margin-bottom: 0;
}

input {
    width: 185px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
    margin-right: 0;
    padding: 11px;
    font-size: 16px;
    font-weight: 600;
}

select {
    border: none;
    width: 185px;
    height: 35px;
    margin-right: 19px;
    margin-bottom: 0;
    padding-left: 11px;
}

/* АДРЕС И ДОСТАВКА */

.container_2 {
    margin-top: 15px;
}

.container_1 select {
    appearance: none;
    background-color: #fff;
    background-image: url(images/Фигура_110.svg), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 11px top 50%, 0 0;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
}

h5 {
    color: #461f02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
}

.delivery {
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}

.form_radio {
    margin-bottom: 0;
    display: block;
    float: left;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 44px;
    padding-top: 17px;
    margin-right: 0;
    user-select: none;
    width: 395px;
    color: #461f02;
    font-size: 17px;
    border: 1px dashed #f0e4ca;
    font-weight: 600;
}

.form_radio label p {
    width: 265px;
    color: #c4b7b1;
    font-size: 13px;
    margin: 0;
    font-weight: normal;
}

.form_radio-1 label {
    height: 70px;
    padding-bottom: 20px;
    border-bottom: none;
}

.form_radio-2 label {
    height: 82px;
    padding-bottom: 15px;
    border-bottom: none;
}

.form_radio-3 label {
    height: 71px;
    padding-bottom: 21px;
}

.form_radio input[type=radio] {
    display: none;
}

.form_radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 21px;
    background: url(images/radio-1.png) 0 0 no-repeat;
}

.form_radio input[type=radio]:checked+label {
    background-color: #fdfcfa;
    border: 1px solid #f0e4ca;
}

.form_radio input[type=radio]:checked+label:before {
    background: url(images/radio-2.png) 0 0 no-repeat;
}

/* ПУНКТ САМОВЫВОЗА */

select {
    cursor: pointer;
    color: #461f02;
    font-size: 16px;
    font-weight: 600;
}

.metro-station {
    margin: 15px 0 0 0;
}

.metro-station select {
    appearance: none;
    background-color: #fff;
    background-image: url(images/Фигура_110.svg), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 11px top 50%, 0 0;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
}

/* КАРТА */

.map {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 10px 10px -5px #faefe1;
    border-radius: 2px;
    border: 1px solid #f0e4ca;
}

/* ТЕКТОВАЯ ФОРМА */

textarea {
    width: 395px;
    height: 180px;
    resize: none;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
    margin: 20px 0 0 0;
}

/* ВЫБОР СПОСОБА ОПЛАТЫ */

a.button {
    display: inline-block;
    text-align: left;
    padding-left: 28px;
    text-decoration: none;
    user-select: none;
    outline: none;
    width: 226px;
    height: 46px;
    color: #ff7700;
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    background-color: #fff;
    background-image: url(images/Фигура_112.svg), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 25px top 54%, 0 0;
    background-size: 7px 12px;
    margin-left: 170px;
    margin-top: 25px;
    border-radius: 2px;
    border: 1px solid #ff6900;
}

/* ASIDE */

.aside {
    grid-area: aside;
    margin-top: 106px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 308px;
    border-top: 1px solid #f0e4ca;
    border-bottom: none;
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 10px 10px -5px #f8eede;
}

.aside_head {
    padding: 20px 0 5px 18px;
    color: #461f02;
    font-family: Georgia;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-weight: normal;
    border-bottom: none;
    border-right: 1px solid #f0e4ca;
    border-left: 1px solid #f0e4ca;
}

.aside_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-right: 1px solid #f0e4ca;
    border-left: 1px solid #f0e4ca;
}

.aside-item, .aside-item a {
    width: 190px;
    color: #766259;
    text-decoration: none;
}

.aside-price {
    font-weight: 700;
    color: #7d5543;
}

.aside_list_item-1 {
    padding: 17px 0 0 18px;
}

.aside_list_item-2 {
    padding: 17px 21px 0 0;
}

.aside_list_item-3 {
    padding: 17px 0 20px 18px;
}

.aside_list_item-4 {
    padding: 17px 21px 20px 0;
}

.aside_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px dashed #f0e4ca;
    background: #fdfcfa;
    border-right: 1px solid #f0e4ca;
    border-left: 1px solid #f0e4ca;
}

.aside_info_item-1, .aside_info_item-3 {
    padding: 15px 0 0 18px;
}

.aside_info_item-2, .aside_info_item-4 {
    padding: 15px 21px 0 0;
}

.aside_info_item-5 {
    padding: 15px 0 20px 18px;
}

.aside_info_item-6 {
    padding: 15px 21px 20px 0;
}

.aside_total {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 53px;
    background: #fcfaf5;
    border-top: 1px dashed #f0e4ca;
    border-bottom: 1px solid #f0e4ca;
    border-right: 1px solid #f0e4ca;
    border-left: 1px solid #f0e4ca;
}

.aside_total_item-1 {
    padding: 17px 0 19px 18px;
    font-weight: 700;
    color: #663721;
}

.aside_total_item-2 {
    padding: 13px 21px 19px 0;
    color: #461f02;
    font-size: 20px;
}

/* FOOTER */

footer {
    width: 970px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-column-gap: 20px;
    grid-template-rows: 238px 65px;
    grid-template-areas: "item-1 item-1 item-1 item-2 item-2 item-2 item-3 item-3 item-3 item-4 item-4 item-4" "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom";
    line-height: 22px;
    position: relative;
}

.img_footer_left {
    position: absolute;
    z-index: -1;
    left: -470px;
}

.img_footer_right {
    position: absolute;
    left: 100%;
    z-index: -1;
}

footer span a {
    border-bottom: 1px solid #c3bab2;
}

h6 {
    color: #461f02;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1px;
}

footer ul {
    list-style: none;
}

.footer_list {
    padding-left: 0;
}

.footer_list a {
    color: #766259;
    font-size: 14px;
    font-weight: 400;
}

.footer_list span a {
    text-decoration: none;
}

.item-1 {
    grid-area: item-1;
    display: flex;
    flex-flow: row wrap;
    height: 170px;
}

.item-1 h6 {
    width: 226px;
    height: 22px;
}

.footer_list {
    height: 80px;
    margin-top: 10px;
}

.footer_list_1 li {
    width: 100px;
}

.footer_list_2 li {
    width: 100px;
}

.item-2 {
    grid-area: item-2;
}

.item-3 {
    grid-area: item-3;
}

.item-4 {
    grid-area: item-4;
    line-height: 17px;
}

.item-4 p {
    width: 227px;
    font-size: 13px;
}

form.catalin {
    width: 215px;
    padding: 0;
    position: relative;
    border: none;
}

form.catalin input {
    float: left;
    border: 1px solid #c4b7b1;
    padding: 0;
    padding-left: 14px;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    width: 215px;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px 0 0 2px;
}

form.catalin button {
    float: left;
    border: none;
    background-color: #ff6f00;
    padding: 0;
    margin: 0;
    width: 43px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    right: -14px;
    background-image: url(images/Галочка.svg), linear-gradient(to bottom, #ff6f00 0%, #ff6f00 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 12px, 0 0;
    background-size: 9px 18px;
}

.hr-line_3 {
    background: url(images/hr_2.png) 0 0 no-repeat;
    margin: 0;
    padding: 0;
    height: 9px;
    border: none;
    width: 970px;
    grid-area: bottom;
}

/* НИЖНЯЯ ХРЕНЬ */

.bottom {
    grid-area: bottom;
    padding-top: 11px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.bottom_navigation_1 {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 15px;
}

.bottom_navigation_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    list-style: none;
    margin-right: 0;
    padding: 0;
}

.bottom_navigation_2 a {
    padding-left: 7px;
    padding-right: 0;
}